<section class="page-list portfolio-nav">
    <div class="bio-lockup-wrapper">
        <div class="bio-lockup">
            <h2 class="bio-title">
                JOJO NICKOLIN
            </h2>
            <p class="bio-description">Here is a snippet of my bio and what I do.</p>
        </div>
    </div>
    <div class="page-list-wrapper">
        {{#get "pages" limit="all" filter="visibility:public"}}
            {{#foreach pages}}
                {{> "page-card"}}
            {{/foreach}}
        {{/get}}
    </div>
</section>